
function calculateResult() {

    var beee = Number(document.getElementById("BEEE").value);
    var de   = Number(document.getElementById("DE").value);
    var ed   = Number(document.getElementById("ED").value);
    var pt   = Number(document.getElementById("PT").value);
    var os   = Number(document.getElementById("OS").value);

    var total = beee + de + ed + pt + os;
    var percentage = total / 5;

    var grade;
    if (percentage >= 50) {
        grade = "PASS";
    } else {
        grade = "FAIL";
    }

    document.getElementById("result").innerHTML =
        "Total Marks: " + total +
        "<br>Percentage: " + percentage + "%" +
        "<br>Result: " + grade;
}
